<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="SelectOrgPageUITest~chrome__TestData11_passed.jpg">
        <system.webServer>
            <directoryBrowse enabled="true" />
        </system.webServer>
    </location>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true" />
    </system.webServer>
</configuration>
